.body{
    text-align: left;
    background: #fff;
    color: #000000;
    font-size: 24px;
    line-height: 1.7;
    font-family: 'Inconsolata', monospace;
}

.song-title{
    font-family: 'Signika', sans-serif;
    font-size: 48px;
}

.song-subtitle{
    font-family: 'Signika', sans-serif;
    font-size: 36px;
}